
# Package Files #
*.jar
*.war
*.ear

# Java class files #
/bin
*.class
/out

/*/out

/jar_lib
/gui

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Python crap
/ktn/*.pyc


#For all who hates DS_Store
*.DS_Store

# Maven
log/
target/

# Garbage .gitignore

client/.gitignore
server/.gitignore

