*.class

# Package Files #
*.jar
*.war
*.ear

# Java class files #
/bin
*.class
/out

/jar_lib
/gui


# IntelliJ project files #
*.idea
*.iml

# Eclipse project files #
*.classpath
*.project

*.settings

# Python crap

/ktn/*.pyc


#For all who hates DS_Store
*.DS_Store

# Maven
log/
target/

